<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Book Issue and Return System</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
			integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	</head>
	<body>		
			<h1 align="center"><u>Book Issue and Return System</u></h1>	
			<br>
			<div class="container my-2"><a th:href="@{/addBook}" class="btn btn-info">Add book to library resource.</a></div>
			<hr>
			<div class="container my-2">
				<br>
				<h3 th:text="${user.getName()} + ' , you have successfully returned the book!'"></h3>
				<br>
				<h4 align="center">Your account has following books at present  :</h4>			
				
				<table class="table table-striped table-bordered">				
				<thead class="table-dark">
					<tr>
						<th> BOOK ID </th>
						<th> TITLE </th>
						<th> AUTHOR </th>
						<th> GENRE </th>
						<th> ISSUE DATE </th>
						<th> RETURN DATE </th>	
						<th> ACTION</th>
					</tr>			
				</thead>
				<tbody class="table-dark">					
					<tr th:each="book : ${user.getBorrowedBooks()}">
						<td th:text="${book.getBookId()}"></td>
						<td th:text="${book.getTitle()}"></td>
						<td th:text="${book.getAuthor()}"></td>
						<td th:text="${book.getGenre()}"></td>						
						<td th:text="${book.getIssuedDate()}"></td>
						<td th:text="${book.getReturnDate()}"></td>
						<td><a th:href="@{/returnBook/{uid}/{bid}(uid=${user.getBorrowerId()} , bid=${book.getBookId()})}" class="btn btn-danger">Return</a></td>
					</tr>	
					<tr>
						<td colspan="7" align="center"><a th:href="@{/}" class="btn btn-info">Go Home!</a></td>
					</tr>				
				</tbody>
			</table>			
				
			</div>
	</body>
</html>
